@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
    font-weight: 500;
}
.none{
    display: none;
}
header{
    padding-top: 40px;
    background: url(background.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
.logo__text{
    font-weight: bold;
    font-size: 24px;
}
.wrapper{
    width: 1120px;
    margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 300px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
.header__nav{
    padding-top: 5px;
}
.header__nav li{
    list-style-type: none;
}
.header__nav li + li{
    margin-left: 30px;
}
.header__nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.header__welcome{
    text-align: center;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
}
h1 + p{
    margin: 0 auto;
    text-transform: capitalize;
    word-spacing: 3px;
    font-size: 24px;
    margin-bottom: 50px;
}
.header__welcome a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}
.header__welcome a:hover{
    border: 0px solid black;
}
.services h2{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}
h2 + img {
    height: 3px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
hr {
    margin-top: 5px;
}
.services__description{
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
}
.services__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.services__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fontawesome{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    color: #C0301C;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fontawesome:hover{
    transition: .4s;
    color: white;
    background-color: #e4260d;
    border: 60px solid #e4260d;
}
.services__card h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services__card p{
    font-size: 16px;
    text-align: center;
}
footer{
    background-color: #C0301C;
    height: 300px;
}
.footer__contact{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-img{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
a + *{
    margin-left: 15px;
}
.footer__copyright{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.footer-img:hover{
    transition: .4s;
    color: #00acee;
    background-color: #e4260d;
    border: 25px solid white;
}